@page "/Products/Create";

<a href="@("/Products")" class="btn btn-primary m-1" style="position:absolute; right:10px;">Back</a>

<EntityForm Entity="_productCreateDTO" EntityType="typeof(ProductCreateDTO)" Operation="Create" OperationName="EntityForm.OperationType.Create" />
<label style="color: red">@_message</label>