@page "/Products";

<a href="@("/Products/Create")" class="btn btn-primary m-1" style="position:absolute; right:10px;">Create Product</a>
<h3>Product List</h3>

@if(_products is null)
{
    <div class="spinner"></div>
}
else
{
    //Search By Id
    <div class="form-check">
        <label class="form-check-label">Search By Id</label><br/>

        <input type="text" placeholder="Enter Id" @bind-value="_productId" />
        <button class="btn btn-primary" @onclick="SearchById">Search</button><br />

        @if (_showSearchByIdLabel)
        {
            <label class="form-check" style="color:red">@_searchByIdErrorMessage</label>
        }

    </div>

    foreach(ProductDTO product in _products)
    {
         <div class="card m-3" style="min-width: 18rem; max-width:45.5%;">
             <DisplayEntity Entity="product" EntityType="typeof(ProductDTO)" DeleteEntity="DeleteProduct" />
            <a href="@($"Products/Update/{product.ProductId}")" class="btn btn-primary m-1">Edit</a>
         </div>

    }

    @if (_showGetAllProductsBtn)
    {
        <button class="btn btn-primary" @onclick="GetAllProducts">Get All Products</button>
    }
}