@page "/Customers/Create"

<a href="@($"/Customers")" class="btn btn-primary m-1" style="position:absolute; right:10px;">Back</a>

<EntityForm Entity="Customer" EntityType="typeof(CustomerCreateDTO)" Operation="Create" OperationName="EntityForm.OperationType.Create" />

